<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>authenticationFilter</filter-name>
        <filter-class>com.alphacab.filters.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>authenticationFilter</filter-name>
        <servlet-name>UserAuthenticationServlet</servlet-name>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/home</url-pattern>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>

    
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
            <scripting-invalid>true</scripting-invalid>
            <include-prelude>/WEB-INF/jsp/base.jspf</include-prelude>
            <trim-directive-whitespaces>true</trim-directive-whitespaces>
            <default-content-type>text/html</default-content-type>
        </jsp-property-group>
    </jsp-config>
    
    <filter>
        <filter-name>AdminAuthenticationFilter</filter-name>
        <filter-class>com.alphacab.filters.AdminAuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminAuthenticationFilter</filter-name>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>

    
    <session-config>
        <session-timeout>
            20
        </session-timeout>
        <cookie-config>
            <http-only>true</http-only>
        </cookie-config>
        <tracking-mode>COOKIE</tracking-mode>
        <tracking-mode>URL</tracking-mode>
    </session-config>
</web-app>
